table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
}
table{
    width: 50%;
    border-width: 2px;
    border-color: blueviolet;
    border-style: double;
    margin: 20px;
    box-shadow: -4px 4px 4px black;
}
caption{
    color: blueviolet;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: -2px 2px 6px black;
}
th{
    background-color: aquamarine;
}
table:nth-child(2){
    border: 5px double violet;
    margin: 20px;
}
#table th{
    background-color: crimson;
}
#table caption{
    color: darkgreen;
    font-weight: bolder;
    margin-bottom: 10px;
}